<button class="Retornar"><a href="#inicio"><span class="Simbolo Maior"> expand_less </span></a></button>

<footer class="RodapeTeste"></footer>
<footer class="Rodape">
  <span class="Simbolo Menor" onclick="MudarCor()"> palette </span>
  <a>&copy; 2023 Biblioteca Digital. Todos os direitos reservados.</a>
</footer>


<%# include('fotter') para adcionar ao arquvo %>
