<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Biblioteca Digital em JS</title>
  <link rel='shortcut icon' href='images/logo.ico' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200' />
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
  <script src='javascripts/main.js' defer></script>
</head>

<body>
<div id='inicio'></div>
<header class='Header'>
  <div class='Sombra'>
    <a href='/'><img src='images/logo.png' alt='Logo'></a>
  </div>
  <div class='Itens'>
    <a href='/'>Home</a>
    <a href='livros'>Livros</a>
    <a href='inserir'>Inserir</a>
    <a href='login'>Login</a>
  </div>
  <a href='#'><span class='Simbolo'>search</span></a>
</header>

<%# include('header') para adcionar ao arquvo %>