<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>Biblioteca Digital em JS</title>
  
  <link rel='shortcut icon' href='images/logo.ico' />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200' />
  
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
  <script src='javascripts/main.js' defer></script>
  <script>
    $(document).ready(function () {
      function selectUsuarios() {      
        $.ajax({
          url: "/jsonCategoria",
          type: "GET",                  
          dataType: "json",              
          success: function (res) {      
            $("#categoria").html("<option selected></option>");
            $.each(res.resultado, function (key, value){
              $("#categoria").append(               
                "<option value=" + value.idcategoria + ">" + value.categoria + "</option>"
              );
            });
          },
        });
      }

      selectUsuarios();
    })
  </script>
</head>

<body>

  <%- ('header') %> 

  <div class="Conteudo">
    <form method="post" enctype="multipart/form-data" action="inserir.php" id="inserir">
      <h1>Preencha os campos abaixo para adicionar novas obras ao catálogo<br><br></h1>
      <div class="NomeData">
        <div class="Preencher">
          <p><label class="Label">Título:</label></p>
          <input type="text" id="titulo" name="titulo" required class="InserirInput" autocomplete="off">
        </div>
        <div class="Preencher">
          <p><label class="Label" for="data">Ano de Publicação:</label></p>
          <input type="number" name="data" id="data" class="InserirInput">
        </div>
      </div>

      <label class="Label" for="autor">Autor:</label>
      <div class="Flex">
      <select class="InserirSelect" id="autor" name="autor" required>
      <option>Selecione o autor da obra</option>
      <?php while($autor = $sql_query_autor->fetch_assoc()){
      echo "<option value='" . $autor['idautor'] . "'>" . $autor['autor'] . "</option>";
      }
      ?>
      </select>
      <button class="NovoInserir" onclick="AddAutor()">+</button>
      </div>

      <label class="Label" for="pais">Nacionalidade:</label>
      <div class="Flex">
      <select class="InserirSelect" id="pais" name="pais" required>
      <option> Escolha a nacionalidade da obra</option>
      <?php while($pais = $sql_query_pais->fetch_assoc()){
      echo "<option value='" . $pais['idpais'] . "'>" . $pais['pais'] . "</option>";
      }
      ?>
      </select>
      <button class="NovoInserir" onclick="AddPais()">+</button>
      </div>

      <label class="Label" for="categoria">Categoria:</label>
      <select class="InserirSelect Preencher" id="categoria" name="categoria" required>
      <option>Escolha o tipo da obra</option>
      <?php while($categoria = $sql_query_categoria->fetch_assoc()){
      echo "<option value='" . $categoria['idcategoria'] . "'>" . $categoria['categoria'] . "</option>";
      }
      ?>
      </select>

      <label for="file" class="Label">Selecione o arquivo:</label>
      <label for="file" class="File">Selecione o arquivo</label>
      <input class="Invisivel" type="file" name="file" id="file" required accept="application/pdf" >

      <?php if($user != 1){ 
      echo "<button class='BotaoInserir' type='submit' name='submit'>Enviar</button>";
      } ?>
    </form>
  </div>

  <form class="AddAutor" id="add_autor" method="post" action="inserir.php">
  <a Class="AddAutorTitulo"><h1>Adicionar um novo Autor</h1> <span class="Simbolo" onclick="FecharAutor()">close</span></a>
  <div class="Preencher">
  <p><label class="Label" for="novo_autor">Nome do Autor:</label></p>
  <input type="text" id="novo_autor" name="novo_autor" required class="InserirInput Preencher">
  </div>

  <label class="Label" for="pais">Nacionalidade:</label>
  <div class="Flex">
  <select class="InserirSelect" id="novo_pais" name="novo_pais" required>
  <option> Escolha a nacionalidade do autor</option>
  <?php while($pais_2 = $sql_query_pais_2->fetch_assoc()){
  echo "<option value='" . $pais_2['idpais'] . "'>" . $pais_2['pais'] . "</option>";
  }
  ?>
  </select>
  <button class="NovoInserir" onclick="AddPais()">+</button>
  </div>
  <button class="BotaoInserir" type="submit" name="novo_submit_autor">Enviar</button>
  </form>

  <form class="AddPais" id="add_pais" method="post" action="inserir.php">
  <a Class="AddAutorTitulo"><h1>Adicionar um novo Pais</h1> <span class="Simbolo" onclick="FecharPais()">close</span></a>
  <div class="Preencher">
  <p><label class="Label" for="novo_pais2r">Nome do Pais:</label></p>
  <input type="text" id="novo_pais" name="novo_pais2" required class="InserirInput Preencher">
  </div>
  <button class="BotaoInserir" type="submit" name="novo_submit_pais">Enviar</button>
  </form>
    
  <%- include('footer'); %>

</body>
</html>