<%- include("header") %>

<div class="Conteudo">
<h1 class="h1Login" id="usuario">Lista de usuários</h1>

<form method="post" action="login.php" class="Invisivel" id="criar_usuario">
<div class="CriarApagar">
<input type="text" required placeholder="Digite o nome do novo usuário" name="user_name" id="user_name" class="UsuarioNome" autocomplete="off">
<input type="number" placeholder="Classe do usuário" name="user_nivel" id="user_nivel" class="UsuarioNivel">
</div>
<button class="CriarUser UsuarioNome" type="submit" id="submit_criar_user" name="submit_criar_user" onclick="CriarUsuario()">Criar um novo usuário</button>
</form>

<form action="login.php" method="post" class="Invisivel" id="apagar_usuario">
<div class="CriarApagar">
<input type='text' autocomplete='off' required placeholder='Digite o nome do usuário' name='user_name_excluir' class="UsuarioNome">
<div class="InputSenha">
<input type="password" name="user_senha_excluir" id="input_senha_5" placeholder="Digite a sua senha">
<span class="Simbolo" id="span_5" onclick="MostrarSenha(5)">visibility_off</span>
</div>
</div>
<button class="ApagarUser" type="submit">Excluir</button>
</form> 

<div class="Lista" id="lista">
<div class="Usuario" >
<div class="UsuarioNome"> <h1>usuários</h1></div>
<div class="UsuarioNivel"> <h1>Classe</h1></div>
</div>
<?php while($lista_usuario = $sql_query_usuario->fetch_assoc()){
echo "<div class='Usuario'>";
echo "<div class='UsuarioNome'><a>" . $lista_usuario['usuario'] . "</a></div>";
echo "<div class='UsuarioNivel'><a>" . $lista_usuario['nivel'] . "</a></div>";
echo "</div>";
}?>
</div>

<div class="CriarApagar" id="criar_apagar">
<div>
<button class="CriarUser UsuarioNome" onclick="CriarUsuario()">Criar um novo usuário</button>
</div>

<div>
<button class="UsuarioNivel ApagarUser" onclick="ApagarUsuario()">Apagar usuário</button>
</div> 
</div>

<?php } ?>

<form action="Login.php" method="post" class="TrocarSenha">
<h1 class="h1Login">Alterar a senha</h1>
<div class="InputSenha">
<input type="password" name="senha_antiga" id="input_senha_1" placeholder="Digite a sua senha atual">
<span class="Simbolo" id="span_1" onclick="MostrarSenha(1)">visibility_off</span>
</div>
<div class="InputSenha">
<input type="password" name="nova_senha" id="input_senha_2" placeholder="Digite a nova senha">
<span class="Simbolo" id="span_2" onclick="MostrarSenha(2)">visibility_off</span>
</div>
<div class="InputSenha">
<input type="password" name="nova_senha_nova" id="input_senha_3" placeholder="Confirme a senha">
<span class="Simbolo" id="span_3" onclick="MostrarSenha(3)">visibility_off</span>
</div>
<button class="CriarUser" type="submit" name="trocar_senha">Alterar a senha</button>
</form>

<div class="Login">
<button onclick="window.location.href='./sair.php'" class="BotaoInserir">Sair</button>
</div>

<?php }else{ ?>
<div class="Login">
<h1 class="h1Login">Login</h1>
<form action="" method="post" class="" id="form">
<label for="usuario">Usuario:</label>
<input id="usuario" class="InserirInput Preencher" name="usuario" type="text" required>
<br>
<label for="senha">Senha:</label>
<div class="InputSenha">
<input type="password" name="senha" id="input_senha_4">
<span class="Simbolo" id="span_4" onclick="MostrarSenha(4)">visibility_off</span>
</div>
<button type="submit" class="BotaoInserir">Login</button>
</form>
</div>
<?php }?>

</div>

<%- include("footer"); %>

</body>
</html>
